span{
    color: red;
    font-weight: bold;
}

span.maunen{
    background-color: yellow;
}

span.maunen:hover{
    background-image: url("chelsea.png");
    color: white;
}

p{
    display: inline-block;
}